.partial[data-partial="components/applications/settings/debug"] {
  >ul {
    li {

      padding: 5px 0;
      span {
        display: inline-block;
        &.name {
          min-width: 70%;
          max-width: 70%;
          &:after {
            content: ":";
          }
        }
        &.value {
          max-width: 30%;
        }
      }
    }
  }
}
