.partial[data-partial="components/window"] {
  border: solid $workbenchColor_1 2px;
  border-top-width: 0;
  position: relative;
  top: 0px;
  left: 0px;
  min-width: 150px;
  min-height: 170px;
  width: 150px;
  height: 170px;
  >.inner {
    background: $workbenchColor_3;
    margin-top: -20px;
    padding-top: 20px;
    height: 100%;
  }
  .window-content {
    line-height: 18px;
    padding: 1px 3px;
    p {
      margin: 0;
    }
    pre {
      overflow: visible;
    }
  }
}
