<div class="partial" data-partial="elements/screen">

    <span class="background"></span>
    <span class="screen"></span>

    <div class="content">
      {{#block "content"}}{{/block}}
    </div>

</div>
