<div class="partial" data-partial="elements/screen">

    <span class="background"></span>
    <span class="screen">

      <span class="button screen-button"><span class="light"></span></span>

    </span>

    <div class="content">
      {{#block "content"}}{{/block}}
    </div>

</div>
