@import "../button.pcss";
.partial[data-partial="elements/button/dialog"] {
  border: none;
  background: $workbenchColor_1;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 6px;
  padding-top: 6px;
  padding-bottom: 4px;
  color: $workbenchColor_3;
  border: solid $workbenchColor_4 2px;
  outline: solid $workbenchColor_3 2px;
  outline-offset: -6px;
  &:active {
    filter: invert();
  }
}
