@import "../button.pcss";
.partial[data-partial="elements/button/secondary"] {
  border: none;
  margin-top: 4px;
  margin-bottom: 4px;
  border: solid $workbenchColor_1 2px;
  background: $workbenchColor_3;
  &:active {
    filter: invert();
  }
}
