---

---

<div class="partial controller{{#if class}} {{{class}}}{{/if}}" {{#block "attributes"}}data-partial="components/header" data-controller="./partials/components/Header" data-target="[data-partial='fragments/workbench-control']"{{/block}}>

    {{#block "content"}}
      <div class="cover">
        <span>Workbench release.</span>
        <span>852440 free memory</span>
      </div>
      {{{mixin "fragments/header/navigation" navigation}}}
    {{/block}}

</div>
