---
buttons:
  import:
    type: 'button'
    hook: 'import'
    title: 'Import'
  export:
    type: 'button'
    hook: 'export'
    title: 'Export'

---
<div class="partial controller" data-partial="components/runtime-import-export" data-controller="./partials/components/RuntimeImportExport" data-target="[data-partial='fragments/workbench-control']">

  <p>
    Applications: <span data-hook="application">0</span><br/><br/>
    Views: <span data-hook="views">0</span>
  </p>

  {{#with buttons}}
    {{{mixin "elements/input/button/upload" import}}}
    {{{mixin "elements/input/button/primary" export}}}
  {{/with}}

</div>
