---
items:
  -
    name: 'core-css-transform'
    label: 'Use CSS-Transform?'
    value: 'css-transform'
---
<form class="partial controller" data-partial="components/settings" data-controller="./partials/components/Settings">
  {{{mixin "fragments/input/group/checkbox" this}}}


</form>
