---
items:
  -
    name: 'core-css-transform'
    label: 'Use CSS-Transform?'
  -
    name: 'core-background-wrapper-1084'
    label: 'Use 1084 Background with 640px x 400px'
buttons:
  save:
    hook: 'save'
    title: 'Save'
  debug:
    class: 'js-click-view-open'
    hook: 'debug'
    title: 'Debug'
    view-path: './pages/workbench/settings/debug.html'

---
<form class="partial controller" data-partial="components/settings" data-controller="./partials/components/Settings">
  {{{mixin "fragments/input/group/checkbox" this}}}

  {{#with buttons}}
    <div class="buttons">
        {{{mixin "elements/input/button/secondary" debug}}}
        {{{mixin "elements/input/button/primary" save}}}
    </div>
  {{/with}}
</form>
