---
header:
  navigation:
    items:
      -
        title: 'Workbench'
        items:
          -
            class: 'js-click-window-open'
            title: Import/Export Runtime
            url: './pages/workbench/runtime_import_export.html'
          -
            hotkey: 'i'
            class: 'js-click-window-open'
            title: 'Info'
            url: './pages/info.html'
      -
        title: 'Debug'
        items:
          -
            class: 'js-click-window-open'
            title: 'Window with Scrollbars'
            scrollbar: true
            url: './pages/debug-window-scroll.html'

---
<div class="partial controller" data-partial="components/workbench" data-controller="./partials/components/Workbench">

  {{#mixin "elements/screen" this}}

    {{#content "content"}}


      {{{mixin "components/header" header}}}

      {{#mixin "fragments/workbench-control"}}

        {{#content "windows"}}




        {{/content}}
        {{#content "content"}}



        {{/content}}

      {{/mixin}}

    {{/content}}

  {{/mixin}}
  {{{mixin "elements/error"}}}

</div>
