---
header:
  navigation:
    items:
      -
        title: 'Workbench'
        items:
          -
            class: 'js-click-view-open'
            title: Import/Export Runtime
            url: './pages/workbench/runtime_import_export.html'
          -
            hotkey: 'i'
            class: 'js-click-view-open'
            title: 'Info'
            url: './pages/info.html'
      -
        title: 'Debug'
        items:
          -
            class: 'js-click-view-open'
            title: 'View with Scrollbars'
            scrollbar: true
            url: './pages/debug-view-scroll.html'

---
<div class="partial controller" data-partial="components/workbench" data-controller="./partials/components/Workbench">

  {{#mixin "elements/screen" this}}

    {{#content "content"}}

      {{{mixin "components/header" header}}}

      {{#mixin "fragments/workbench-control"}}

        {{#content "windows"}}




        {{/content}}
        {{#content "content"}}



        {{/content}}

      {{/mixin}}

      <div class="error-wrapper">

            {{mixin "elements/error"}}

      </div>

    {{/content}}

  {{/mixin}}

  <script id="{{{id}}}" type="text/x-handlebars-template">
    {{mixin "elements/error"}}
  </script>

</div>
