.partial[data-partial="components/applications/runtime-import-export"] {
  padding: 0 5px;
  p {
    line-height: 2;
  }
  [data-partial^="elements/input/button/"] {
    display: block;
    width: 100%;
    margin-top: 8px;
  }
}
