---
this:
  -
    title: 'Item 1'
  -
    title: 'Item 2'
    items:
      -
        title: 'Sub Item 1'
      -
        separator: true
      -
        title: 'Sub Item 2'
        items:
          -
            title: 'Sub Item 2.1'
          -
            title: 'Sub Item 2.2'
      -
        title: 'Sub Item 3'
  -
    separator: true
  -
    title: 'Item 4'
  -
    title: 'Item 5'
---
<ul class="partial" data-partial="fragments/context-menu">
  {{#each this}}
    <li{{#if list-item-class}} class="{{{list-item-class}}}"{{/if}}>
      {{#if separator}}
        {{> "elements/context-menu/separator" this}}
      {{else}}
        {{> "elements/context-menu/item" this}}
        {{#if items}}
          {{> "fragments/context-menu" items}}
        {{/if}}
      {{/if}}
    </li>
  {{/each}}
</ul>
