---

tmpl:
  -
    id: 'view-template'
    data:
      id: '@id'
      scroll: true
      header:
        title: '@title'

---
<div class="partial controller{{#if class}} {{{class}}}{{/if}}" data-partial="fragments/item-control" data-controller="./partials/fragments/ItemControl" data-target="[data-partial='fragments/view-control']">

  <div class="items" data-hook="items">
    {{{block "items"}}}
  </div>

  <div class="helper-move" data-hook="helper-move"></div>

</div>
