@import "../button.pcss";
.partial[data-partial="elements/input/button/primary"] {
  border: solid $workbenchColor_3 2px;
  color: $workbenchColor_3;
  background: $workbenchColor_1;
  outline: solid $workbenchColor_1;
  outline-width: 2px;
  &:active {
    filter: invert();
  }
}
