.partial[data-partial="elements/input/button/secondary"] {
  border: none;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 4px;
  outline: solid $workbenchColor_1 2px;
  &:active {
    color: $workbenchColor_4;
    outline-color: $workbenchColor_4;
    /*border-color: $workbenchColor_4;*/
  }
}
