.partial[data-partial="elements/button"] {

display: block;

background: transparent;
border: solid $workbenchColor_1 2px;
padding: 4px;
margin: 8px;
outline: none;
outline: solid transparent 2px;

&:active {

  outline: solid $workbenchColor_3;
  outline-width: 2px;
  box-shadow: 0 0 0 4px $workbenchColor_4;
}

}
