@import "./field.pcss";
.partial[data-partial^="elements/button/"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background: transparent;
  margin: 4px 0px;
  padding: 6px;
  padding-bottom: 4px;
  outline: none;
  appearance: none;
}
