.partial[data-partial="fragments/field/group/item-select"] {
ul {
  border: solid $workbenchColor_1;
  border-width: 0 0 2px 0;
  li {
    margin: 0;
    .partial[data-partial="elements/field/item"] {
      border-bottom-width: 0;
      display: block;
    }
  }
}
}
