---
title: 'Icon Title'
---

<figure class="partial{{#if class}} {{{class}}}{{/if}}" {{#block "attributes"}} data-partial="elements/icon-control/icon"{{/block}}>
  {{#block "content"}}<span>Icon Content</span>{{/block}}
  <figcaption>{{{title}}}</figcaption>
</figure>
