---

---
<div class="partial controller" data-partial="components/applications/core-file/new/icon-select" data-controller="./partials/components/applications/core-file/new/IconSelect">
  <div data-hook="icons">
    <span></span>
  </div>
</div>
