@import "../../generated/pcss/purecss/custom-media-variables.pcss";
@import "../../generated/pcss/purecss/base.css";
@import "../../generated/pcss/purecss/grids-core.css";
@import "../../generated/pcss/purecss/custom-grid.css";
@import "../../generated/pcss/purecss/custom-grid-offset.css";

/* optional */

@import "../../generated/pcss/purecss/custom-grid-gutter.css";
@import "../../generated/pcss/purecss/custom-wrapper.css";

@import "./base/vars.pcss";

@import "./fonts.pcss";
@import "./partials/layouts.pcss";

html {}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
pre {
  overflow: visible;
}
