@import "../../generated/pcss/purecss/custom-media-variables.pcss";

@import "./base/vars.pcss";

@import "./partials.pcss";

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}


body {
  background: $workbenchBackgroundColor_default;

    &,pre {
      font-family: $workbenchFont_topaz;
    }

  font-size: 16px;
  color: $workbenchColor_1;
}
