.partial[data-partial="fragments/field/group"], .partial[data-partial^="fragments/field/group/"] {
  list-style: none;
  >.title {
    margin: 5px 0;
    display: block;
  }
  ul {
    margin: 5px 0;
    li {
      margin: 5px 0;
    }
  }
}
