.partial[data-partial="elements/icon-control/icon"], .partial[data-partial^="elements/icon-control/icon/"] {
  margin: 10px 10px;
  padding: 0;
  display: inline-block;
  >span {
    display: block;
    text-align: center;
    >* {
      display: inline-block;
    }
  }
  >figcaption {
    font-weight: normal;
    margin-top: 5px;
    text-align: center;
  }
  &:active {
    filter: invert();
  }
}
