---
items:
  -
    label: 'Checkbox 1'
    value: '1'
    name: 'examples-input-checkbox'
  -
    label: 'Checkbox 2'
    name: 'examples-input-checkbox'
  -
    label: 'Checkbox 3'
    name: 'examples-input-checkbox'
---

{{#mixin "fragments/field/group" this}}

  {{#content "attributes"}} data-partial="fragments/field/group/checkbox"{{/content}}

  {{#content "items"}}

    {{#each items}}
      <li>
        {{{mixin "elements/field/checkbox" this}}}
      </li>
    {{/each}}

  {{/content}}

{{/mixin}}
