---
items:
  -
    label: 'Radio Box 1'
    value: '1'
    name: 'examples-input-radios'
  -
    label: 'Radio Box 2'
    name: 'examples-input-radios'
  -
    label: 'Radio Box 3'
    name: 'examples-input-radios'
---

{{#mixin "fragments/field/group" this}}

  {{#content "attributes"}} data-partial="fragments/field/group/radio"{{/content}}

  {{#content "items"}}

    {{#each items}}
      <li>
        <label>{{{mixin "elements/field/radio" this form-ignore=../../form-ignore}}}</label>
      </li>
    {{/each}}

  {{/content}}

{{/mixin}}
