---
label: 'Textbox Label'
---
<label class="partial" data-partial="elements/field/textbox">
  {{#if label}}
    <span class="label">{{{label}}}</span>
  {{/if}}
  <input type="text"{{#if name}} name="{{{name}}}"{{/if}} />
</label>
