.partial[data-partial="elements/context-menu/item"] {
  &:after {
    content: "";
    clear: right;
  }
  >.hotkey {
    display: inline-block;
    float: right;
    svg {
      .primary {
        fill: $workbenchColor_3;
      }
    }
  }
}
