---
title: 'Icon Title'
src: 'https://dummyimage.com/32x32/000000/fff'
---

<figure class="partial{{#if class}} {{{class}}}{{/if}}" data-partial="elements/item-control/icon/image" touch-action="none">
  <span><img src="{{{src}}}" /></span>
  <figcaption>{{{title}}}</figcaption>
</figure>
