---
title: 'Icon Title'
svg: '<img src="https://dummyimage.com/32x32/000000/fff" />'
---

<figure class="partial{{#if class}} {{{class}}}{{/if}}" data-partial="elements/item-control/icon/svg" touch-action="none">
  <span>{{{svg}}}</span>
  <figcaption>{{{title}}}</figcaption>
</figure>
