---
buttons:
  import:
    type: 'button'
    hook: 'import'
    title: 'Import'
  export:
    type: 'button'
    hook: 'export'
    title: 'Export'

---
<div class="partial controller" data-partial="components/applications/runtime-import-export" data-controller="./partials/components/applications/RuntimeImportExport">

  <p>
    Applications: <span data-hook="applications">0</span><br/>
    Views: <span data-hook="views">0</span>
  </p>

  {{#with buttons}}
    {{{mixin "elements/button/upload" import}}}
    {{{mixin "elements/button/primary" export}}}
  {{/with}}

</div>
