.partial[data-partial="fragments/workbench-control"] {
  position: relative;
  width: 100%;
    /*height: 100%;*/
  >.content {
    position: relative;
    width: 100%;
    height: 100%;
  }
  >.views {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    [data-partial="components/view"] {
      position: absolute;
    }
  }
}
